<body>
  <div class="body-container">
    <%= "Hello there! My name is Joseph and this is a pet project I started after I graduated from the Turing School of Software & Design."%> <br><br>

    <%= "I have had a fond interest in the world of watches since October of 2022, and I have been learning something new every day since then." %> <br><br>

    <%= "I built this website with the intention of creating a personal catalog of watches that I own and hope to own."%><br><br>

    <%= "I will continue to build upon this website as I learn more about coding and watches. I hope you try out some of the features I implement and if you have any recommendations as to what features you would like to see, please reach out to me via the Contact page." %><br><br>

    <%= "Thanks for visiting!" %>
  </div>
<body>