<h1>Create Your Account</h1>

<%= form_with(model: @user, local: true, html: { multipart: true }) do |form| %>

  <div>
    <%= form.label :full_name, "Full Name" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :email_address, "Email Address" %>
    <%= form.text_field :email_address %>
  </div>

  <div>
    <%= form.label :password, "Password" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirm Password" %>
    <%= form.text_field :password_confirmation %>
  </div>

  <br>

  <div>
    <%= form.submit "Create Account" %>
  </div>
<% end %>
