<h1>Add a New Watch</h1>

<%= form_with(model: @watch, local: true, html: { multipart: true }) do |form| %>

  <div>
    <%= form.label :photo, "Watch Photo" %>
    <%= form.file_field :photo %>
  </div>

  <div>
    <%= form.label :reference_number, "Reference Number" %>
    <%= form.number_field :reference_number, min: 0 %>
  </div>

  <div>
    <%= form.label :model, "Watch Model" %>
    <%= form.text_field :model %>
  </div>

  <div>
    <%= form.label :price, "Price" %>
    <%= form.number_field :price, step: 0.01, min: 0 %>
  </div>

  <div>
    <%= form.label :movement, "Movement" %>
    <%= form.text_field :movement %>
  </div>

  <div>
    <%= form.label :year_of_production, "Year of Production" %>
    <%= form.number_field :year_of_production, min: 0 %>
  </div>

  <div>
    <%= form.label :case_material, "Case Material" %>
    <%= form.text_field :case_material %>
  </div>
  
  <div>
    <%= form.label :case_diameter, "Case Diameter" %>
    <%= form.number_field :case_diameter, min: 0 %>
  </div>

  <div>
    <%= form.label :bracelet, "Bracelet" %>
    <%= form.text_field :bracelet %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :brand, "Brand" %>
    <%= form.collection_select :brand_id, @brands, :id, :name, prompt: "Select a Brand" %>
  </div>

  <br>

  <div>
    <%= form.submit "Add Watch" %>
  </div>
<% end %>

<br>

<%= link_to 'Back to Watch List', watches_path %>
